<div class="student-img">
    <img src="https://3.bp.blogspot.com/-wYj3ZA4sC9g/WWxNfy_9QHI/AAAAAAABFlc/p7e0RZlTFuA67icZiQJJgSgR7qVYlJmLgCLcBGAs/w1200-h630-p-k-no-nu/teacher_man_student.png" alt="生徒">
</div>

<div class="users-index">
    <h2>新規作成<br> （ユーザー）</h2>

    <%= render 'form', user: @user %>

    <%= link_to 'ユーザ一覧表示に戻る', users_path %>
</div>
