.old-homes{
    float: left;
    margin-top: 40px;
    margin-left: 60px;
    width: 40%;
}

.user-name{
    float: left;
    margin-left: 60px;
    font-size: 20px;
}

.menyu-{
    float: right;
    font-size: 15px;
}

.index{
    margin-left: 55%;
    font-size: 30px;
}

th,td{
    font-size: 15px;
}

.student-img{
    float: left;
    width: 80%;
    margin-top: 40px;
    margin-left: 40px;
}


.school{
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 70px;
}

.people-old{
    float: left;
    width: 80%;
}

.name-infometion{
    text-align: center;
}
